* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

.app {
  max-width: 600px;
  margin: 20px auto;
}

.form {
  display: flex;

  input {
    padding: 10px;
    border: 1px solid gray;
    border-right: none;
    color: gray;
    outline: none;
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
  }

  button {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 0 4px 4px 0;
  }
}

.list {
  margin-top: 20px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &__wrapper {
    display: grid;
    gap: 15px;
  }

  &__item {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    text-align: center;
  }
}
